Treino para melhorar na linguagem Python

- Anotar aqui os atalhos, lembretes e funções principais que vivo esquecendo
- Repetir as funções abaixo com frequência no intuito de primeiro decorar e depois fixar
- Parece perda de tempo, pois não vai gerar nada útil, mas não consegui engrenar no Python porque demoro a voltar a usar, e quando pego, já esqueci o básico. Preciso fixar os conteúdos primeiro para depois ter agilidade e conseguir usar no dia a dia

In [145]:
()

()

In [146]:
1, 2, 3

(1, 2, 3)

In [147]:
(1, 2, 3)

(1, 2, 3)

In [148]:
nome = 'Passat'
valor = 153000
(nome, valor)

('Passat', 153000)

In [149]:
nomes_carros = tuple(['Fusca', 'Crossfox', 'HB20'])
nomes_carros

('Fusca', 'Crossfox', 'HB20')

In [150]:
type(nomes_carros)

tuple

In [151]:
nomes_carros[0]

'Fusca'

In [152]:
nomes_carros[1]

'Crossfox'

In [153]:
nomes_carros[-1]

'HB20'

In [154]:
type(nomes_carros[-1])

str

In [155]:
nomes_carros[1:2]

('Crossfox',)

In [156]:
nomes_carros[0:2]

('Fusca', 'Crossfox')

In [157]:
nomes_carros

('Fusca', 'Crossfox', 'HB20')

In [158]:
nomes_carros = ('Fusca', 'Crossfox', 'HB20', ('Gol', 'C4', 'Passat'))

In [159]:
nomes_carros

('Fusca', 'Crossfox', 'HB20', ('Gol', 'C4', 'Passat'))

In [160]:
nomes_carros[-1][1]

'C4'

In [161]:
for item in nomes_carros:
  print(item)

Fusca
Crossfox
HB20
('Gol', 'C4', 'Passat')

In [162]:
carro_q, carro_2, carro_3, carro_4 = nomes_carros

In [163]:
carro_q

'Fusca'

In [164]:
carro_4

('Gol', 'C4', 'Passat')

In [165]:
_, a, _, b = nomes_carros

In [166]:
b

('Gol', 'C4', 'Passat')

In [167]:
_, c, *_ = nomes_carros

In [168]:
c

'Crossfox'

In [169]:
valores = [9477, 2894, 4893,3928]
carros = ['Gol', 'C4', 'Passat', 'Fusca']

In [170]:
valores
carros

['Gol', 'C4', 'Passat', 'Fusca']

In [171]:
valores

[9477, 2894, 4893, 3928]

In [172]:
list(zip(carros, valores))

[('Gol', 9477), ('C4', 2894), ('Passat', 4893), ('Fusca', 3928)]

In [173]:
for item in zip(carros, valores):
  print(item)

('Gol', 9477)
('C4', 2894)
('Passat', 4893)
('Fusca', 3928)

In [174]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Gol 9477
C4 2894
Passat 4893
Fusca 3928

In [175]:
for carro, valor in zip(carros, valores):
  if(valor > 3000):
    print(carro)

Gol
Passat
Fusca

## Trabalhando com dicionários

In [176]:
carros = ['Jetta', 'Passat', 'Crossfox']
carros

['Jetta', 'Passat', 'Crossfox']

In [177]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [178]:
carros.index('Passat')

1

In [179]:
valores[carros.index('Passat')]

106161.94

In [180]:
carros

['Jetta', 'Passat', 'Crossfox']

In [181]:
valores

[88078.64, 106161.94, 72832.16]

In [182]:
dados = {'Jetta': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [183]:
type(dados)

dict

In [184]:
list(zip(carros, valores))

[('Jetta', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [185]:
dados = dict(zip(carros, valores))
dados

{'Jetta': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [186]:
dados['Passat']

106161.94

In [187]:
'Passat' in dados

True

In [188]:
'Fusca' in dados

False

In [189]:
len(dados)

3

In [190]:
dados['DS5'] = 124549.07
dados

{'Jetta': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [191]:
del dados['Passat']
dados

{'Jetta': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

## Métodos de dicionários

In [192]:
dados.update({'Passat': 106161.94})
dados

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [193]:
dados.update({'Passat': 106161.05, 'Fusca': 150000})
dados

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05,
 'Fusca': 150000}

Se eu quiser uma cópia, não basta criar uma igualdade, que faria só uma instancia. Preciso usar função copy

In [194]:
dadosCopy = dados.copy()

In [195]:
dadosCopy

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05,
 'Fusca': 150000}

In [196]:
dadosinstancia = dados
dadosinstancia

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05,
 'Fusca': 150000}

Se eu apagar um dado a instancia vai sofrer a alteração porque está apontada para o mesmo local, mas a copia não

In [197]:
del dados['Fusca']

In [198]:
dadosinstancia

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05}

In [199]:
dadosCopy

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05,
 'Fusca': 150000}

In [200]:
dados = dadosCopy.copy()

In [201]:
dados

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05,
 'Fusca': 150000}

In [202]:
dadosCopy.pop('Passat')

106161.05

In [203]:
dadosCopy

{'Jetta': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 150000}

In [204]:
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [205]:
dadosCopy.clear()

In [206]:
dadosCopy

{}

Operações com dicionários

In [207]:
dados

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.05,
 'Fusca': 150000}

In [208]:
'Passat' in dados

True

In [209]:
'Fusca' not in dados

False

In [210]:
dados['DS5'] = 124907
dados

{'Jetta': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124907,
 'Passat': 106161.05,
 'Fusca': 150000}

In [211]:
del dados['Passat']

In [212]:
dados

{'Jetta': 88078.64, 'Crossfox': 72832.16, 'DS5': 124907, 'Fusca': 150000}

In [213]:
dados.update({'Passat': 106161.05})

In [214]:
dados.keys()

dict_keys(['Jetta', 'Crossfox', 'DS5', 'Fusca', 'Passat'])

In [215]:
for keys in dados.keys():
  print(dados[keys])

88078.64
72832.16
124907
150000
106161.05

In [216]:
dados.values()

dict_values([88078.64, 72832.16, 124907, 150000, 106161.05])

In [217]:
dados.items()

dict_items([('Jetta', 88078.64), ('Crossfox', 72832.16), ('DS5', 124907), ('Fusca', 150000), ('Passat', 106161.05)])

In [218]:
for item in dados.items():
  print(item)

('Jetta', 88078.64)
('Crossfox', 72832.16)
('DS5', 124907)
('Fusca', 150000)
('Passat', 106161.05)

In [219]:
for key, value in dados.items():
  print(key, value)

Jetta 88078.64
Crossfox 72832.16
DS5 124907
Fusca 150000
Passat 106161.05

In [220]:
for key, value in dados.items():
  if(value > 100000):
    print(key)

DS5
Fusca
Passat

In [221]:
def media():
  valor = (1 + 2 + 3) / 3
  print(valor)

In [222]:
media()

2.0

In [223]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [224]:
media([23, 45, 67])

45.0

A função acima apenas printa o valor, mas não retorna valor, como demonstrado abaixo:

In [225]:
resultado = media([23, 45, 67])

45.0

In [226]:
resultado

Usando return a função passa a retornar um valor

In [227]:
def media(lista):
  valor = sum(lista) / len(lista)
  return valor

In [228]:
resultado = media([23, 45, 67])

In [229]:
resultado

45.0

In [230]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

In [231]:
media([23, 45, 67])

(45.0, 3)

In [232]:
resultado, n = media([23, 45, 67])
resultado

45.0

In [233]:
n

3

Funções: https://docs.python.org/3.6/library/functions.html

# Pandas Básico

In [234]:
import pandas as pd

In [235]:
carros = ['Jetta', 'Passat', 'Crossfox']

In [236]:
pd.Series(carros)

0       Jetta
1      Passat
2    Crossfox
dtype: object

In [237]:
dados = [
         {'Nome': 'Passat', 'Ano': 1990},
         {'Nome': 'Fusca', 'Ano': 1985},
         {'Nome': 'HB20', 'Marca': 'Hyunday'}
]

In [238]:
dataset = pd.DataFrame(dados)

In [239]:
dataset

     Nome     Ano    Marca
0  Passat  1990.0      NaN
1   Fusca  1985.0      NaN
2    HB20     NaN  Hyunday

In [240]:
dataset[['Ano', 'Nome', 'Marca']]

      Ano    Nome    Marca
0  1990.0  Passat      NaN
1  1985.0   Fusca      NaN
2     NaN    HB20  Hyunday

In [241]:
dados = {
    'Nome': ['Passat', 'Fusca', 'HB20'],
    'Ano': [1990, 1985, 2013]
}

In [242]:
dataset = pd.DataFrame(dados)

In [243]:
dataset

     Nome   Ano
0  Passat  1990
1   Fusca  1985
2    HB20  2013

# Inserir no DataFrame

In [244]:
dataset.append({'Nome': 'HB20', 'Ano': 2012}, ignore_index=True)

     Nome   Ano
0  Passat  1990
1   Fusca  1985
2    HB20  2013
3    HB20  2012

In [245]:
dataset = pd.read_csv(r'C:\Users\Leonardo\Desktop\extrato-2022.02.01-2022.04.01.csv', sep = ';', index_col = 3)
dataset

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
NOTA * PREGÃO 31/03/2022,31/03/2022,04/04/2022,"1.693,50","20.201,98"
JUROS S/CAPITAL 500 ITUB4,01/04/2022,01/04/2022,"7,50","18.508,48"
JUROS S/CAPITAL 300 MDIA3,31/03/2022,31/03/2022,"12,75","18.500,98"
JUROS S/CAPITAL 100 BBAS3,31/03/2022,31/03/2022,"17,91","18.488,23"
NOTA * PREGÃO 24/03/2022,24/03/2022,28/03/2022,"8.567,43","18.470,32"
RENDIMENTO 143 PAPEL XPML11,25/03/2022,25/03/2022,"91,52","9.902,89"
NOTA * PREGÃO 23/03/2022,23/03/2022,25/03/2022,"2.729,18","9.811,37"
NOTA * PREGÃO 17/03/2022,17/03/2022,21/03/2022,"1.163,65","7.082,19"
RENDIMENTO 72 PAPEL XPPR11,15/03/2022,15/03/2022,"32,40","5.918,54"
RENDIMENTO 170 PAPEL XPLG11,15/03/2022,15/03/2022,"112,20","5.886,14"
RENDIMENTO 168 PAPEL VISC11,15/03/2022,15/03/2022,"114,24","5.773,94"
RENDIMENTO 316 PAPEL VINO11,15/03/2022,15/03/2022,"107,44","5.659,70"
RENDIMENTO 175 PAPEL VILG11,15/03/2022,15/03/2022,"122,50","5.552,26"
RENDIMENTO 62 PAPEL RECT11,15/03/2022,15/03/2022,"31,11","5.429,76"
RENDIMENTO 74 PAPEL RBFF11,15/03/2022,15/03/2022,"34,78","5.398,65"
DIVIDENDOS 1.400 JHSF3,14/03/2022,14/03/2022,"224,91","5.363,87"
JUROS S/CAPITAL 700 ITUB4,11/03/2022,11/03/2022,"157,41","5.138,96"
JUROS S/CAPITAL 100 BBAS3,11/03/2022,11/03/2022,"38,61","4.981,55"
JUROS S/CAPITAL 500 ITUB4,11/03/2022,11/03/2022,"5,81","4.942,94"
RENDIMENTO 100 PAPEL BBAS3,11/03/2022,11/03/2022,"0,64","4.937,13"
DIVIDENDOS 100 BBAS3,11/03/2022,11/03/2022,"35,58","4.936,49"
RENDIMENTO 100 PAPEL BBAS3,11/03/2022,11/03/2022,"0,50","4.900,91"
NOTA * PREGÃO 02/03/2022,02/03/2022,04/03/2022,"3.549,93","4.900,41"
JUROS S/CAPITAL 700 ITUB4,02/03/2022,02/03/2022,"10,50","1.350,48"
RENDIMENTO 143 PAPEL XPML11,25/02/2022,25/02/2022,"85,80","1.339,98"
TED BCO 104 AGE 1642 CTA 217427 - RETIRADA EM C/C,21/02/2022,21/02/2022,"-20.000,00","1.254,18"
JUROS S/CAPITAL 300 MDIA3,18/02/2022,18/02/2022,"445,39","21.254,18"
NOTA * PREGÃO 15/02/2022,15/02/2022,17/02/2022,"2.699,18","20.808,79"
RENDIMENTO 74 PAPEL RBFF11,15/02/2022,15/02/2022,"34,78","18.109,61"
RENDIMENTO 72 PAPEL XPPR11,14/02/2022,14/02/2022,"32,40","18.074,83"
RENDIMENTO 170 PAPEL XPLG11,14/02/2022,14/02/2022,"108,80","18.042,43"
RENDIMENTO 168 PAPEL VISC11,14/02/2022,14/02/2022,"114,24","17.933,63"
RENDIMENTO 316 PAPEL VINO11,14/02/2022,14/02/2022,"107,44","17.819,39"
RENDIMENTO 175 PAPEL VILG11,14/02/2022,14/02/2022,"122,50","17.711,95"
RENDIMENTO 62 PAPEL RECT11,14/02/2022,14/02/2022,"32,36","17.589,45"
JUROS S/CAPITAL 310 RENT3,11/02/2022,11/02/2022,"34,04","17.557,09"
NOTA * PREGÃO 07/02/2022,07/02/2022,09/02/2022,"4.328,70","17.523,05"
NOTA * PREGÃO 03/02/2022,03/02/2022,07/02/2022,"5.032,49","13.194,35"
NOTA * PREGÃO 02/02/2022,02/02/2022,04/02/2022,"641,81","8.161,86"
JUROS S/CAPITAL 700 ITUB4,01/02/2022,01/02/2022,"10,50","7.520,05"

from google.colab import drive
drive.mount('/content/drive')

## Seleções com DataFrames

In [246]:
dataset.head()

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
NOTA * PREGÃO 31/03/2022,31/03/2022,04/04/2022,"1.693,50","20.201,98"
JUROS S/CAPITAL 500 ITUB4,01/04/2022,01/04/2022,"7,50","18.508,48"
JUROS S/CAPITAL 300 MDIA3,31/03/2022,31/03/2022,"12,75","18.500,98"
JUROS S/CAPITAL 100 BBAS3,31/03/2022,31/03/2022,"17,91","18.488,23"
NOTA * PREGÃO 24/03/2022,24/03/2022,28/03/2022,"8.567,43","18.470,32"

In [247]:
dataset['Valor']

Descrição
NOTA *      PREGÃO 31/03/2022                                                         1.693,50
JUROS S/CAPITAL 500                ITUB4                                                  7,50
JUROS S/CAPITAL 300                MDIA3                                                 12,75
JUROS S/CAPITAL 100                BBAS3                                                 17,91
NOTA *      PREGÃO 24/03/2022                                                         8.567,43
RENDIMENTO 143                PAPEL XPML11                                               91,52
NOTA *      PREGÃO 23/03/2022                                                         2.729,18
NOTA *      PREGÃO 17/03/2022                                                         1.163,65
RENDIMENTO 72                 PAPEL XPPR11                                               32,40
RENDIMENTO 170                PAPEL XPLG11                                              112,20
RENDIMENTO 168                PAPEL VISC11                                              114,24
RENDIMENTO 316                PAPEL VINO11                                              107,44
RENDIMENTO 175                PAPEL VILG11                                              122,50
RENDIMENTO 62                 PAPEL RECT11                                               31,11
RENDIMENTO 74                 PAPEL RBFF11                                               34,78
DIVIDENDOS 1.400              JHSF3                                                     224,91
JUROS S/CAPITAL 700                ITUB4                                                157,41
JUROS S/CAPITAL 100                BBAS3                                                 38,61
JUROS S/CAPITAL 500                ITUB4                                                  5,81
RENDIMENTO 100                PAPEL BBAS3                                                 0,64
DIVIDENDOS 100                BBAS3                                                      35,58
RENDIMENTO 100                PAPEL BBAS3                                                 0,50
NOTA *      PREGÃO 02/03/2022                                                         3.549,93
JUROS S/CAPITAL 700                ITUB4                                                 10,50
RENDIMENTO 143                PAPEL XPML11                                               85,80
TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                                 -20.000,00
JUROS S/CAPITAL 300                MDIA3                                                445,39
NOTA *      PREGÃO 15/02/2022                                                         2.699,18
RENDIMENTO 74                 PAPEL RBFF11                                               34,78
RENDIMENTO 72                 PAPEL XPPR11                                               32,40
RENDIMENTO 170                PAPEL XPLG11                                              108,80
RENDIMENTO 168                PAPEL VISC11                                              114,24
RENDIMENTO 316                PAPEL VINO11                                              107,44
RENDIMENTO 175                PAPEL VILG11                                              122,50
RENDIMENTO 62                 PAPEL RECT11                                               32,36
JUROS S/CAPITAL 310                RENT3                                                 34,04
NOTA *      PREGÃO 07/02/2022                                                         4.328,70
NOTA *      PREGÃO 03/02/2022                                                         5.032,49
NOTA *      PREGÃO 02/02/2022                                                           641,81
JUROS S/CAPITAL 700                ITUB4                                                 10,50
Name: Valor, dtype: object

O Dataframe é um conjunto de series.

In [248]:
type(dataset['Valor'])

pandas.core.series.Series

In [249]:
dataset[['Valor']]

                                                         Valor
Descrição
NOTA *      PREGÃO 31/03/2022                         1.693,50
JUROS S/CAPITAL 500                ITUB4                  7,50
JUROS S/CAPITAL 300                MDIA3                 12,75
JUROS S/CAPITAL 100                BBAS3                 17,91
NOTA *      PREGÃO 24/03/2022                         8.567,43
RENDIMENTO 143                PAPEL XPML11               91,52
NOTA *      PREGÃO 23/03/2022                         2.729,18
NOTA *      PREGÃO 17/03/2022                         1.163,65
RENDIMENTO 72                 PAPEL XPPR11               32,40
RENDIMENTO 170                PAPEL XPLG11              112,20
RENDIMENTO 168                PAPEL VISC11              114,24
RENDIMENTO 316                PAPEL VINO11              107,44
RENDIMENTO 175                PAPEL VILG11              122,50
RENDIMENTO 62                 PAPEL RECT11               31,11
RENDIMENTO 74                 PAPEL RBFF11               34,78
DIVIDENDOS 1.400              JHSF3                     224,91
JUROS S/CAPITAL 700                ITUB4                157,41
JUROS S/CAPITAL 100                BBAS3                 38,61
JUROS S/CAPITAL 500                ITUB4                  5,81
RENDIMENTO 100                PAPEL BBAS3                 0,64
DIVIDENDOS 100                BBAS3                      35,58
RENDIMENTO 100                PAPEL BBAS3                 0,50
NOTA *      PREGÃO 02/03/2022                         3.549,93
JUROS S/CAPITAL 700                ITUB4                 10,50
RENDIMENTO 143                PAPEL XPML11               85,80
TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM...  -20.000,00
JUROS S/CAPITAL 300                MDIA3                445,39
NOTA *      PREGÃO 15/02/2022                         2.699,18
RENDIMENTO 74                 PAPEL RBFF11               34,78
RENDIMENTO 72                 PAPEL XPPR11               32,40
RENDIMENTO 170                PAPEL XPLG11              108,80
RENDIMENTO 168                PAPEL VISC11              114,24
RENDIMENTO 316                PAPEL VINO11              107,44
RENDIMENTO 175                PAPEL VILG11              122,50
RENDIMENTO 62                 PAPEL RECT11               32,36
JUROS S/CAPITAL 310                RENT3                 34,04
NOTA *      PREGÃO 07/02/2022                         4.328,70
NOTA *      PREGÃO 03/02/2022                         5.032,49
NOTA *      PREGÃO 02/02/2022                           641,81
JUROS S/CAPITAL 700                ITUB4                 10,50

Inserindo dois colchetes retorna como dataframe

In [250]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

In [251]:
dataset[0:4]

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
NOTA * PREGÃO 31/03/2022,31/03/2022,04/04/2022,"1.693,50","20.201,98"
JUROS S/CAPITAL 500 ITUB4,01/04/2022,01/04/2022,"7,50","18.508,48"
JUROS S/CAPITAL 300 MDIA3,31/03/2022,31/03/2022,"12,75","18.500,98"
JUROS S/CAPITAL 100 BBAS3,31/03/2022,31/03/2022,"17,91","18.488,23"

In [252]:
dataset[5:6]

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
RENDIMENTO 143 PAPEL XPML11,25/03/2022,25/03/2022,"91,52","9.902,89"

In [253]:
dataset2 = pd.DataFrame(dados)

In [254]:
dataset2

     Nome   Ano
0  Passat  1990
1   Fusca  1985
2    HB20  2013

In [255]:
dataset2.loc[0]

Nome    Passat
Ano       1990
Name: 0, dtype: object

In [256]:
dataset2.loc[[0, 2]]

     Nome   Ano
0  Passat  1990
2    HB20  2013

In [257]:
dataset2.loc[[0, 2], ['Nome']]

     Nome
0  Passat
2    HB20

In [258]:
dataset2.loc[:, ['Nome']]

     Nome
0  Passat
1   Fusca
2    HB20

In [259]:
dataset

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
NOTA * PREGÃO 31/03/2022,31/03/2022,04/04/2022,"1.693,50","20.201,98"
JUROS S/CAPITAL 500 ITUB4,01/04/2022,01/04/2022,"7,50","18.508,48"
JUROS S/CAPITAL 300 MDIA3,31/03/2022,31/03/2022,"12,75","18.500,98"
JUROS S/CAPITAL 100 BBAS3,31/03/2022,31/03/2022,"17,91","18.488,23"
NOTA * PREGÃO 24/03/2022,24/03/2022,28/03/2022,"8.567,43","18.470,32"
RENDIMENTO 143 PAPEL XPML11,25/03/2022,25/03/2022,"91,52","9.902,89"
NOTA * PREGÃO 23/03/2022,23/03/2022,25/03/2022,"2.729,18","9.811,37"
NOTA * PREGÃO 17/03/2022,17/03/2022,21/03/2022,"1.163,65","7.082,19"
RENDIMENTO 72 PAPEL XPPR11,15/03/2022,15/03/2022,"32,40","5.918,54"
RENDIMENTO 170 PAPEL XPLG11,15/03/2022,15/03/2022,"112,20","5.886,14"
RENDIMENTO 168 PAPEL VISC11,15/03/2022,15/03/2022,"114,24","5.773,94"
RENDIMENTO 316 PAPEL VINO11,15/03/2022,15/03/2022,"107,44","5.659,70"
RENDIMENTO 175 PAPEL VILG11,15/03/2022,15/03/2022,"122,50","5.552,26"
RENDIMENTO 62 PAPEL RECT11,15/03/2022,15/03/2022,"31,11","5.429,76"
RENDIMENTO 74 PAPEL RBFF11,15/03/2022,15/03/2022,"34,78","5.398,65"
DIVIDENDOS 1.400 JHSF3,14/03/2022,14/03/2022,"224,91","5.363,87"
JUROS S/CAPITAL 700 ITUB4,11/03/2022,11/03/2022,"157,41","5.138,96"
JUROS S/CAPITAL 100 BBAS3,11/03/2022,11/03/2022,"38,61","4.981,55"
JUROS S/CAPITAL 500 ITUB4,11/03/2022,11/03/2022,"5,81","4.942,94"
RENDIMENTO 100 PAPEL BBAS3,11/03/2022,11/03/2022,"0,64","4.937,13"
DIVIDENDOS 100 BBAS3,11/03/2022,11/03/2022,"35,58","4.936,49"
RENDIMENTO 100 PAPEL BBAS3,11/03/2022,11/03/2022,"0,50","4.900,91"
NOTA * PREGÃO 02/03/2022,02/03/2022,04/03/2022,"3.549,93","4.900,41"
JUROS S/CAPITAL 700 ITUB4,02/03/2022,02/03/2022,"10,50","1.350,48"
RENDIMENTO 143 PAPEL XPML11,25/02/2022,25/02/2022,"85,80","1.339,98"
TED BCO 104 AGE 1642 CTA 217427 - RETIRADA EM C/C,21/02/2022,21/02/2022,"-20.000,00","1.254,18"
JUROS S/CAPITAL 300 MDIA3,18/02/2022,18/02/2022,"445,39","21.254,18"
NOTA * PREGÃO 15/02/2022,15/02/2022,17/02/2022,"2.699,18","20.808,79"
RENDIMENTO 74 PAPEL RBFF11,15/02/2022,15/02/2022,"34,78","18.109,61"
RENDIMENTO 72 PAPEL XPPR11,14/02/2022,14/02/2022,"32,40","18.074,83"
RENDIMENTO 170 PAPEL XPLG11,14/02/2022,14/02/2022,"108,80","18.042,43"
RENDIMENTO 168 PAPEL VISC11,14/02/2022,14/02/2022,"114,24","17.933,63"
RENDIMENTO 316 PAPEL VINO11,14/02/2022,14/02/2022,"107,44","17.819,39"
RENDIMENTO 175 PAPEL VILG11,14/02/2022,14/02/2022,"122,50","17.711,95"
RENDIMENTO 62 PAPEL RECT11,14/02/2022,14/02/2022,"32,36","17.589,45"
JUROS S/CAPITAL 310 RENT3,11/02/2022,11/02/2022,"34,04","17.557,09"
NOTA * PREGÃO 07/02/2022,07/02/2022,09/02/2022,"4.328,70","17.523,05"
NOTA * PREGÃO 03/02/2022,03/02/2022,07/02/2022,"5.032,49","13.194,35"
NOTA * PREGÃO 02/02/2022,02/02/2022,04/02/2022,"641,81","8.161,86"
JUROS S/CAPITAL 700 ITUB4,01/02/2022,01/02/2022,"10,50","7.520,05"

In [260]:
dataset.iloc[1]

Operação       01/04/2022
Liquidação     01/04/2022
Valor                7,50
Saldo Final     18.508,48
Name: JUROS S/CAPITAL 500                ITUB4       , dtype: object

In [261]:
dataset.iloc[1:3]

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
JUROS S/CAPITAL 500 ITUB4,01/04/2022,01/04/2022,"7,50","18.508,48"
JUROS S/CAPITAL 300 MDIA3,31/03/2022,31/03/2022,"12,75","18.500,98"

In [262]:
dataset.iloc[1:3,[0,3]]

                                                   Operação Saldo Final
Descrição
JUROS S/CAPITAL 500                ITUB4         01/04/2022   18.508,48
JUROS S/CAPITAL 300                MDIA3         31/03/2022   18.500,98

colocando um ponto seguido da coluna dataset.Liquidação é o mesmo que dataset['Liquidação']

In [263]:
dataset.Liquidação

Descrição
NOTA *      PREGÃO 31/03/2022                                                       04/04/2022
JUROS S/CAPITAL 500                ITUB4                                            01/04/2022
JUROS S/CAPITAL 300                MDIA3                                            31/03/2022
JUROS S/CAPITAL 100                BBAS3                                            31/03/2022
NOTA *      PREGÃO 24/03/2022                                                       28/03/2022
RENDIMENTO 143                PAPEL XPML11                                          25/03/2022
NOTA *      PREGÃO 23/03/2022                                                       25/03/2022
NOTA *      PREGÃO 17/03/2022                                                       21/03/2022
RENDIMENTO 72                 PAPEL XPPR11                                          15/03/2022
RENDIMENTO 170                PAPEL XPLG11                                          15/03/2022
RENDIMENTO 168                PAPEL VISC11                                          15/03/2022
RENDIMENTO 316                PAPEL VINO11                                          15/03/2022
RENDIMENTO 175                PAPEL VILG11                                          15/03/2022
RENDIMENTO 62                 PAPEL RECT11                                          15/03/2022
RENDIMENTO 74                 PAPEL RBFF11                                          15/03/2022
DIVIDENDOS 1.400              JHSF3                                                 14/03/2022
JUROS S/CAPITAL 700                ITUB4                                            11/03/2022
JUROS S/CAPITAL 100                BBAS3                                            11/03/2022
JUROS S/CAPITAL 500                ITUB4                                            11/03/2022
RENDIMENTO 100                PAPEL BBAS3                                           11/03/2022
DIVIDENDOS 100                BBAS3                                                 11/03/2022
RENDIMENTO 100                PAPEL BBAS3                                           11/03/2022
NOTA *      PREGÃO 02/03/2022                                                       04/03/2022
JUROS S/CAPITAL 700                ITUB4                                            02/03/2022
RENDIMENTO 143                PAPEL XPML11                                          25/02/2022
TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                                 21/02/2022
JUROS S/CAPITAL 300                MDIA3                                            18/02/2022
NOTA *      PREGÃO 15/02/2022                                                       17/02/2022
RENDIMENTO 74                 PAPEL RBFF11                                          15/02/2022
RENDIMENTO 72                 PAPEL XPPR11                                          14/02/2022
RENDIMENTO 170                PAPEL XPLG11                                          14/02/2022
RENDIMENTO 168                PAPEL VISC11                                          14/02/2022
RENDIMENTO 316                PAPEL VINO11                                          14/02/2022
RENDIMENTO 175                PAPEL VILG11                                          14/02/2022
RENDIMENTO 62                 PAPEL RECT11                                          14/02/2022
JUROS S/CAPITAL 310                RENT3                                            11/02/2022
NOTA *      PREGÃO 07/02/2022                                                       09/02/2022
NOTA *      PREGÃO 03/02/2022                                                       07/02/2022
NOTA *      PREGÃO 02/02/2022                                                       04/02/2022
JUROS S/CAPITAL 700                ITUB4                                            01/02/2022
Name: Liquidação, dtype: object

Teste de igualdade

In [264]:
select = dataset.Operação == '15/02/2022'
select

Descrição
NOTA *      PREGÃO 31/03/2022                                                       False
JUROS S/CAPITAL 500                ITUB4                                            False
JUROS S/CAPITAL 300                MDIA3                                            False
JUROS S/CAPITAL 100                BBAS3                                            False
NOTA *      PREGÃO 24/03/2022                                                       False
RENDIMENTO 143                PAPEL XPML11                                          False
NOTA *      PREGÃO 23/03/2022                                                       False
NOTA *      PREGÃO 17/03/2022                                                       False
RENDIMENTO 72                 PAPEL XPPR11                                          False
RENDIMENTO 170                PAPEL XPLG11                                          False
RENDIMENTO 168                PAPEL VISC11                                          False
RENDIMENTO 316                PAPEL VINO11                                          False
RENDIMENTO 175                PAPEL VILG11                                          False
RENDIMENTO 62                 PAPEL RECT11                                          False
RENDIMENTO 74                 PAPEL RBFF11                                          False
DIVIDENDOS 1.400              JHSF3                                                 False
JUROS S/CAPITAL 700                ITUB4                                            False
JUROS S/CAPITAL 100                BBAS3                                            False
JUROS S/CAPITAL 500                ITUB4                                            False
RENDIMENTO 100                PAPEL BBAS3                                           False
DIVIDENDOS 100                BBAS3                                                 False
RENDIMENTO 100                PAPEL BBAS3                                           False
NOTA *      PREGÃO 02/03/2022                                                       False
JUROS S/CAPITAL 700                ITUB4                                            False
RENDIMENTO 143                PAPEL XPML11                                          False
TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                                 False
JUROS S/CAPITAL 300                MDIA3                                            False
NOTA *      PREGÃO 15/02/2022                                                        True
RENDIMENTO 74                 PAPEL RBFF11                                           True
RENDIMENTO 72                 PAPEL XPPR11                                          False
RENDIMENTO 170                PAPEL XPLG11                                          False
RENDIMENTO 168                PAPEL VISC11                                          False
RENDIMENTO 316                PAPEL VINO11                                          False
RENDIMENTO 175                PAPEL VILG11                                          False
RENDIMENTO 62                 PAPEL RECT11                                          False
JUROS S/CAPITAL 310                RENT3                                            False
NOTA *      PREGÃO 07/02/2022                                                       False
NOTA *      PREGÃO 03/02/2022                                                       False
NOTA *      PREGÃO 02/02/2022                                                       False
JUROS S/CAPITAL 700                ITUB4                                            False
Name: Operação, dtype: bool

In [265]:
type(select)

pandas.core.series.Series

In [266]:
dataset[select]

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
NOTA * PREGÃO 15/02/2022,15/02/2022,17/02/2022,"2.699,18","20.808,79"
RENDIMENTO 74 PAPEL RBFF11,15/02/2022,15/02/2022,"34,78","18.109,61"

In [267]:
dataset[(dataset.Operação == '15/02/2022') & (dataset.Liquidação == '15/02/2022')]

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
RENDIMENTO 74 PAPEL RBFF11,15/02/2022,15/02/2022,"34,78","18.109,61"

Series booleana

In [268]:
(dataset.Operação == '15/02/2022') & (dataset.Liquidação == '15/02/2022')

Descrição
NOTA *      PREGÃO 31/03/2022                                                       False
JUROS S/CAPITAL 500                ITUB4                                            False
JUROS S/CAPITAL 300                MDIA3                                            False
JUROS S/CAPITAL 100                BBAS3                                            False
NOTA *      PREGÃO 24/03/2022                                                       False
RENDIMENTO 143                PAPEL XPML11                                          False
NOTA *      PREGÃO 23/03/2022                                                       False
NOTA *      PREGÃO 17/03/2022                                                       False
RENDIMENTO 72                 PAPEL XPPR11                                          False
RENDIMENTO 170                PAPEL XPLG11                                          False
RENDIMENTO 168                PAPEL VISC11                                          False
RENDIMENTO 316                PAPEL VINO11                                          False
RENDIMENTO 175                PAPEL VILG11                                          False
RENDIMENTO 62                 PAPEL RECT11                                          False
RENDIMENTO 74                 PAPEL RBFF11                                          False
DIVIDENDOS 1.400              JHSF3                                                 False
JUROS S/CAPITAL 700                ITUB4                                            False
JUROS S/CAPITAL 100                BBAS3                                            False
JUROS S/CAPITAL 500                ITUB4                                            False
RENDIMENTO 100                PAPEL BBAS3                                           False
DIVIDENDOS 100                BBAS3                                                 False
RENDIMENTO 100                PAPEL BBAS3                                           False
NOTA *      PREGÃO 02/03/2022                                                       False
JUROS S/CAPITAL 700                ITUB4                                            False
RENDIMENTO 143                PAPEL XPML11                                          False
TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                                 False
JUROS S/CAPITAL 300                MDIA3                                            False
NOTA *      PREGÃO 15/02/2022                                                       False
RENDIMENTO 74                 PAPEL RBFF11                                           True
RENDIMENTO 72                 PAPEL XPPR11                                          False
RENDIMENTO 170                PAPEL XPLG11                                          False
RENDIMENTO 168                PAPEL VISC11                                          False
RENDIMENTO 316                PAPEL VINO11                                          False
RENDIMENTO 175                PAPEL VILG11                                          False
RENDIMENTO 62                 PAPEL RECT11                                          False
JUROS S/CAPITAL 310                RENT3                                            False
NOTA *      PREGÃO 07/02/2022                                                       False
NOTA *      PREGÃO 03/02/2022                                                       False
NOTA *      PREGÃO 02/02/2022                                                       False
JUROS S/CAPITAL 700                ITUB4                                            False
dtype: bool

In [269]:
dataset.query('Operação == "15/02/2022" and Liquidação == "15/02/2022"')

,Operação,Liquidação,Valor,Saldo Final
Descrição,,,,
RENDIMENTO 74 PAPEL RBFF11,15/02/2022,15/02/2022,"34,78","18.109,61"

## Seleções com DataFrames

rodando um for, irá mostrar o nome das colunas ou series

In [270]:
for item in dataset:
    print(item)

Operação
Liquidação
Valor
Saldo Final

In [271]:
list(dataset.iterrows())

[('NOTA *      PREGÃO 31/03/2022',
  Operação       31/03/2022
  Liquidação     04/04/2022
  Valor            1.693,50
  Saldo Final     20.201,98
  Name: NOTA *      PREGÃO 31/03/2022, dtype: object),
 ('JUROS S/CAPITAL 500                ITUB4       ',
  Operação       01/04/2022
  Liquidação     01/04/2022
  Valor                7,50
  Saldo Final     18.508,48
  Name: JUROS S/CAPITAL 500                ITUB4       , dtype: object),
 ('JUROS S/CAPITAL 300                MDIA3       ',
  Operação       31/03/2022
  Liquidação     31/03/2022
  Valor               12,75
  Saldo Final     18.500,98
  Name: JUROS S/CAPITAL 300                MDIA3       , dtype: object),
 ('JUROS S/CAPITAL 100                BBAS3       ',
  Operação       31/03/2022
  Liquidação     31/03/2022
  Valor               17,91
  Saldo Final     18.488,23
  Name: JUROS S/CAPITAL 100                BBAS3       , dtype: object),
 ('NOTA *      PREGÃO 24/03/2022',
  Operação       24/03/2022
  Liquidação     28/03/2022
  Valor            8.567,43
  Saldo Final     18.470,32
  Name: NOTA *      PREGÃO 24/03/2022, dtype: object),
 ('RENDIMENTO 143                PAPEL XPML11      ',
  Operação       25/03/2022
  Liquidação     25/03/2022
  Valor               91,52
  Saldo Final      9.902,89
  Name: RENDIMENTO 143                PAPEL XPML11      , dtype: object),
 ('NOTA *      PREGÃO 23/03/2022',
  Operação       23/03/2022
  Liquidação     25/03/2022
  Valor            2.729,18
  Saldo Final      9.811,37
  Name: NOTA *      PREGÃO 23/03/2022, dtype: object),
 ('NOTA *      PREGÃO 17/03/2022',
  Operação       17/03/2022
  Liquidação     21/03/2022
  Valor            1.163,65
  Saldo Final      7.082,19
  Name: NOTA *      PREGÃO 17/03/2022, dtype: object),
 ('RENDIMENTO 72                 PAPEL XPPR11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor               32,40
  Saldo Final      5.918,54
  Name: RENDIMENTO 72                 PAPEL XPPR11      , dtype: object),
 ('RENDIMENTO 170                PAPEL XPLG11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor              112,20
  Saldo Final      5.886,14
  Name: RENDIMENTO 170                PAPEL XPLG11      , dtype: object),
 ('RENDIMENTO 168                PAPEL VISC11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor              114,24
  Saldo Final      5.773,94
  Name: RENDIMENTO 168                PAPEL VISC11      , dtype: object),
 ('RENDIMENTO 316                PAPEL VINO11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor              107,44
  Saldo Final      5.659,70
  Name: RENDIMENTO 316                PAPEL VINO11      , dtype: object),
 ('RENDIMENTO 175                PAPEL VILG11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor              122,50
  Saldo Final      5.552,26
  Name: RENDIMENTO 175                PAPEL VILG11      , dtype: object),
 ('RENDIMENTO 62                 PAPEL RECT11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor               31,11
  Saldo Final      5.429,76
  Name: RENDIMENTO 62                 PAPEL RECT11      , dtype: object),
 ('RENDIMENTO 74                 PAPEL RBFF11      ',
  Operação       15/03/2022
  Liquidação     15/03/2022
  Valor               34,78
  Saldo Final      5.398,65
  Name: RENDIMENTO 74                 PAPEL RBFF11      , dtype: object),
 ('DIVIDENDOS 1.400              JHSF3       ',
  Operação       14/03/2022
  Liquidação     14/03/2022
  Valor              224,91
  Saldo Final      5.363,87
  Name: DIVIDENDOS 1.400              JHSF3       , dtype: object),
 ('JUROS S/CAPITAL 700                ITUB4       ',
  Operação       11/03/2022
  Liquidação     11/03/2022
  Valor              157,41
  Saldo Final      5.138,96
  Name: JUROS S/CAPITAL 700                ITUB4       , dtype: object),
 ('JUROS S/CAPITAL 100                BBAS3       ',
  Operação       11/03/2022
  Liquidação     11/03/2022
  Valor               38,61
  Saldo Final      4.981,55
  Name: JUROS S/CAPITAL 100                BBAS3       , dtype: object),
 ('JUROS S/CAPITAL 500                ITUB4       ',
  Operação       11/03/2022
  Liquidação     11/03/2022
  Valor                5,81
  Saldo Final      4.942,94
  Name: JUROS S/CAPITAL 500                ITUB4       , dtype: object),
 ('RENDIMENTO 100                PAPEL BBAS3       ',
  Operação       11/03/2022
  Liquidação     11/03/2022
  Valor                0,64
  Saldo Final      4.937,13
  Name: RENDIMENTO 100                PAPEL BBAS3       , dtype: object),
 ('DIVIDENDOS 100                BBAS3       ',
  Operação       11/03/2022
  Liquidação     11/03/2022
  Valor               35,58
  Saldo Final      4.936,49
  Name: DIVIDENDOS 100                BBAS3       , dtype: object),
 ('RENDIMENTO 100                PAPEL BBAS3       ',
  Operação       11/03/2022
  Liquidação     11/03/2022
  Valor                0,50
  Saldo Final      4.900,91
  Name: RENDIMENTO 100                PAPEL BBAS3       , dtype: object),
 ('NOTA *      PREGÃO 02/03/2022',
  Operação       02/03/2022
  Liquidação     04/03/2022
  Valor            3.549,93
  Saldo Final      4.900,41
  Name: NOTA *      PREGÃO 02/03/2022, dtype: object),
 ('JUROS S/CAPITAL 700                ITUB4       ',
  Operação       02/03/2022
  Liquidação     02/03/2022
  Valor               10,50
  Saldo Final      1.350,48
  Name: JUROS S/CAPITAL 700                ITUB4       , dtype: object),
 ('RENDIMENTO 143                PAPEL XPML11      ',
  Operação       25/02/2022
  Liquidação     25/02/2022
  Valor               85,80
  Saldo Final      1.339,98
  Name: RENDIMENTO 143                PAPEL XPML11      , dtype: object),
 ('TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                             ',
  Operação       21/02/2022
  Liquidação     21/02/2022
  Valor          -20.000,00
  Saldo Final      1.254,18
  Name: TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                             , dtype: object),
 ('JUROS S/CAPITAL 300                MDIA3       ',
  Operação       18/02/2022
  Liquidação     18/02/2022
  Valor              445,39
  Saldo Final     21.254,18
  Name: JUROS S/CAPITAL 300                MDIA3       , dtype: object),
 ('NOTA *      PREGÃO 15/02/2022',
  Operação       15/02/2022
  Liquidação     17/02/2022
  Valor            2.699,18
  Saldo Final     20.808,79
  Name: NOTA *      PREGÃO 15/02/2022, dtype: object),
 ('RENDIMENTO 74                 PAPEL RBFF11      ',
  Operação       15/02/2022
  Liquidação     15/02/2022
  Valor               34,78
  Saldo Final     18.109,61
  Name: RENDIMENTO 74                 PAPEL RBFF11      , dtype: object),
 ('RENDIMENTO 72                 PAPEL XPPR11      ',
  Operação       14/02/2022
  Liquidação     14/02/2022
  Valor               32,40
  Saldo Final     18.074,83
  Name: RENDIMENTO 72                 PAPEL XPPR11      , dtype: object),
 ('RENDIMENTO 170                PAPEL XPLG11      ',
  Operação       14/02/2022
  Liquidação     14/02/2022
  Valor              108,80
  Saldo Final     18.042,43
  Name: RENDIMENTO 170                PAPEL XPLG11      , dtype: object),
 ('RENDIMENTO 168                PAPEL VISC11      ',
  Operação       14/02/2022
  Liquidação     14/02/2022
  Valor              114,24
  Saldo Final     17.933,63
  Name: RENDIMENTO 168                PAPEL VISC11      , dtype: object),
 ('RENDIMENTO 316                PAPEL VINO11      ',
  Operação       14/02/2022
  Liquidação     14/02/2022
  Valor              107,44
  Saldo Final     17.819,39
  Name: RENDIMENTO 316                PAPEL VINO11      , dtype: object),
 ('RENDIMENTO 175                PAPEL VILG11      ',
  Operação       14/02/2022
  Liquidação     14/02/2022
  Valor              122,50
  Saldo Final     17.711,95
  Name: RENDIMENTO 175                PAPEL VILG11      , dtype: object),
 ('RENDIMENTO 62                 PAPEL RECT11      ',
  Operação       14/02/2022
  Liquidação     14/02/2022
  Valor               32,36
  Saldo Final     17.589,45
  Name: RENDIMENTO 62                 PAPEL RECT11      , dtype: object),
 ('JUROS S/CAPITAL 310                RENT3       ',
  Operação       11/02/2022
  Liquidação     11/02/2022
  Valor               34,04
  Saldo Final     17.557,09
  Name: JUROS S/CAPITAL 310                RENT3       , dtype: object),
 ('NOTA *      PREGÃO 07/02/2022',
  Operação       07/02/2022
  Liquidação     09/02/2022
  Valor            4.328,70
  Saldo Final     17.523,05
  Name: NOTA *      PREGÃO 07/02/2022, dtype: object),
 ('NOTA *      PREGÃO 03/02/2022',
  Operação       03/02/2022
  Liquidação     07/02/2022
  Valor            5.032,49
  Saldo Final     13.194,35
  Name: NOTA *      PREGÃO 03/02/2022, dtype: object),
 ('NOTA *      PREGÃO 02/02/2022',
  Operação       02/02/2022
  Liquidação     04/02/2022
  Valor              641,81
  Saldo Final      8.161,86
  Name: NOTA *      PREGÃO 02/02/2022, dtype: object),
 ('JUROS S/CAPITAL 700                ITUB4       ',
  Operação       01/02/2022
  Liquidação     01/02/2022
  Valor               10,50
  Saldo Final      7.520,05
  Name: JUROS S/CAPITAL 700                ITUB4       , dtype: object)]

In [272]:
for index, rows in dataset.iterrows():
    print(rows)

Operação       31/03/2022
Liquidação     04/04/2022
Valor            1.693,50
Saldo Final     20.201,98
Name: NOTA *      PREGÃO 31/03/2022, dtype: object
Operação       01/04/2022
Liquidação     01/04/2022
Valor                7,50
Saldo Final     18.508,48
Name: JUROS S/CAPITAL 500                ITUB4       , dtype: object
Operação       31/03/2022
Liquidação     31/03/2022
Valor               12,75
Saldo Final     18.500,98
Name: JUROS S/CAPITAL 300                MDIA3       , dtype: object
Operação       31/03/2022
Liquidação     31/03/2022
Valor               17,91
Saldo Final     18.488,23
Name: JUROS S/CAPITAL 100                BBAS3       , dtype: object
Operação       24/03/2022
Liquidação     28/03/2022
Valor            8.567,43
Saldo Final     18.470,32
Name: NOTA *      PREGÃO 24/03/2022, dtype: object
Operação       25/03/2022
Liquidação     25/03/2022
Valor               91,52
Saldo Final      9.902,89
Name: RENDIMENTO 143                PAPEL XPML11      , dtype: object
Operação       23/03/2022
Liquidação     25/03/2022
Valor            2.729,18
Saldo Final      9.811,37
Name: NOTA *      PREGÃO 23/03/2022, dtype: object
Operação       17/03/2022
Liquidação     21/03/2022
Valor            1.163,65
Saldo Final      7.082,19
Name: NOTA *      PREGÃO 17/03/2022, dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor               32,40
Saldo Final      5.918,54
Name: RENDIMENTO 72                 PAPEL XPPR11      , dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor              112,20
Saldo Final      5.886,14
Name: RENDIMENTO 170                PAPEL XPLG11      , dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor              114,24
Saldo Final      5.773,94
Name: RENDIMENTO 168                PAPEL VISC11      , dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor              107,44
Saldo Final      5.659,70
Name: RENDIMENTO 316                PAPEL VINO11      , dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor              122,50
Saldo Final      5.552,26
Name: RENDIMENTO 175                PAPEL VILG11      , dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor               31,11
Saldo Final      5.429,76
Name: RENDIMENTO 62                 PAPEL RECT11      , dtype: object
Operação       15/03/2022
Liquidação     15/03/2022
Valor               34,78
Saldo Final      5.398,65
Name: RENDIMENTO 74                 PAPEL RBFF11      , dtype: object
Operação       14/03/2022
Liquidação     14/03/2022
Valor              224,91
Saldo Final      5.363,87
Name: DIVIDENDOS 1.400              JHSF3       , dtype: object
Operação       11/03/2022
Liquidação     11/03/2022
Valor              157,41
Saldo Final      5.138,96
Name: JUROS S/CAPITAL 700                ITUB4       , dtype: object
Operação       11/03/2022
Liquidação     11/03/2022
Valor               38,61
Saldo Final      4.981,55
Name: JUROS S/CAPITAL 100                BBAS3       , dtype: object
Operação       11/03/2022
Liquidação     11/03/2022
Valor                5,81
Saldo Final      4.942,94
Name: JUROS S/CAPITAL 500                ITUB4       , dtype: object
Operação       11/03/2022
Liquidação     11/03/2022
Valor                0,64
Saldo Final      4.937,13
Name: RENDIMENTO 100                PAPEL BBAS3       , dtype: object
Operação       11/03/2022
Liquidação     11/03/2022
Valor               35,58
Saldo Final      4.936,49
Name: DIVIDENDOS 100                BBAS3       , dtype: object
Operação       11/03/2022
Liquidação     11/03/2022
Valor                0,50
Saldo Final      4.900,91
Name: RENDIMENTO 100                PAPEL BBAS3       , dtype: object
Operação       02/03/2022
Liquidação     04/03/2022
Valor            3.549,93
Saldo Final      4.900,41
Name: NOTA *      PREGÃO 02/03/2022, dtype: object
Operação       02/03/2022
Liquidação     02/03/2022
Valor               10,50
Saldo Final      1.350,48
Name: JUROS S/CAPITAL 700                ITUB4       , dtype: object
Operação       25/02/2022
Liquidação     25/02/2022
Valor               85,80
Saldo Final      1.339,98
Name: RENDIMENTO 143                PAPEL XPML11      , dtype: object
Operação       21/02/2022
Liquidação     21/02/2022
Valor          -20.000,00
Saldo Final      1.254,18
Name: TED BCO 104 AGE 1642  CTA 217427  - RETIRADA EM C/C                             , dtype: object
Operação       18/02/2022
Liquidação     18/02/2022
Valor              445,39
Saldo Final     21.254,18
Name: JUROS S/CAPITAL 300                MDIA3       , dtype: object
Operação       15/02/2022
Liquidação     17/02/2022
Valor            2.699,18
Saldo Final     20.808,79
Name: NOTA *      PREGÃO 15/02/2022, dtype: object
Operação       15/02/2022
Liquidação     15/02/2022
Valor               34,78
Saldo Final     18.109,61
Name: RENDIMENTO 74                 PAPEL RBFF11      , dtype: object
Operação       14/02/2022
Liquidação     14/02/2022
Valor               32,40
Saldo Final     18.074,83
Name: RENDIMENTO 72                 PAPEL XPPR11      , dtype: object
Operação       14/02/2022
Liquidação     14/02/2022
Valor              108,80
Saldo Final     18.042,43
Name: RENDIMENTO 170                PAPEL XPLG11      , dtype: object
Operação       14/02/2022
Liquidação     14/02/2022
Valor              114,24
Saldo Final     17.933,63
Name: RENDIMENTO 168                PAPEL VISC11      , dtype: object
Operação       14/02/2022
Liquidação     14/02/2022
Valor              107,44
Saldo Final     17.819,39
Name: RENDIMENTO 316                PAPEL VINO11      , dtype: object
Operação       14/02/2022
Liquidação     14/02/2022
Valor              122,50
Saldo Final     17.711,95
Name: RENDIMENTO 175                PAPEL VILG11      , dtype: object
Operação       14/02/2022
Liquidação     14/02/2022
Valor               32,36
Saldo Final     17.589,45
Name: RENDIMENTO 62                 PAPEL RECT11      , dtype: object
Operação       11/02/2022
Liquidação     11/02/2022
Valor               34,04
Saldo Final     17.557,09
Name: JUROS S/CAPITAL 310                RENT3       , dtype: object
Operação       07/02/2022
Liquidação     09/02/2022
Valor            4.328,70
Saldo Final     17.523,05
Name: NOTA *      PREGÃO 07/02/2022, dtype: object
Operação       03/02/2022
Liquidação     07/02/2022
Valor            5.032,49
Saldo Final     13.194,35
Name: NOTA *      PREGÃO 03/02/2022, dtype: object
Operação       02/02/2022
Liquidação     04/02/2022
Valor              641,81
Saldo Final      8.161,86
Name: NOTA *      PREGÃO 02/02/2022, dtype: object
Operação       01/02/2022
Liquidação     01/02/2022
Valor               10,50
Saldo Final      7.520,05
Name: JUROS S/CAPITAL 700                ITUB4       , dtype: object

In [273]:
df = pd.DataFrame({'calorias':[200, 350, 550], 'gordura (%)':[0, 6, 15], 'lista':[['5', 'teste'],['5', 'teste'],['5', 'teste']]},index=['banana', 'prato feito', 'big mac'])
df

             calorias  gordura (%)       lista
banana            200            0  [5, teste]
prato feito       350            6  [5, teste]
big mac           550           15  [5, teste]

In [274]:
lista = ['5', 'teste']
lista

['5', 'teste']

In [275]:
df.loc['banana','lista'].append(lista)
df

             calorias  gordura (%)                   lista
banana            200            0  [5, teste, [5, teste]]
prato feito       350            6              [5, teste]
big mac           550           15              [5, teste]

# Combinar dataframes

In [277]:
import numpy as np

In [278]:
df1 = pd.DataFrame(np.ones(12).reshape(4,3), columns='A B C'.split(), index=pd.date_range('2015-07-09 12:00:00', periods=4, freq='H'))
df1

                       A    B    C
2015-07-09 12:00:00  1.0  1.0  1.0
2015-07-09 13:00:00  1.0  1.0  1.0
2015-07-09 14:00:00  1.0  1.0  1.0
2015-07-09 15:00:00  1.0  1.0  1.0

In [279]:
df2 = pd.DataFrame(np.ones(16).reshape(4,4)*2, columns='A B C D'.split(), index=pd.date_range('2015-07-09 14:00:00', periods=4, freq='H'))
df2

                       A    B    C    D
2015-07-09 14:00:00  2.0  2.0  2.0  2.0
2015-07-09 15:00:00  2.0  2.0  2.0  2.0
2015-07-09 16:00:00  2.0  2.0  2.0  2.0
2015-07-09 17:00:00  2.0  2.0  2.0  2.0

In [283]:
np.union1d(df1.index, df2.index)

array(['2015-07-09T12:00:00.000000000', '2015-07-09T13:00:00.000000000',
       '2015-07-09T14:00:00.000000000', '2015-07-09T15:00:00.000000000',
       '2015-07-09T16:00:00.000000000', '2015-07-09T17:00:00.000000000'],
      dtype='datetime64[ns]')

In [280]:
result = df2.reindex(np.union1d(df1.index, df2.index))
result

                       A    B    C    D
2015-07-09 12:00:00  NaN  NaN  NaN  NaN
2015-07-09 13:00:00  NaN  NaN  NaN  NaN
2015-07-09 14:00:00  2.0  2.0  2.0  2.0
2015-07-09 15:00:00  2.0  2.0  2.0  2.0
2015-07-09 16:00:00  2.0  2.0  2.0  2.0
2015-07-09 17:00:00  2.0  2.0  2.0  2.0

In [281]:
combiner = lambda x, y: np.where(x.isnull(), y, x)
combiner

In [282]:
result.combine(df1, combiner)

                       A    B    C    D
2015-07-09 12:00:00  1.0  1.0  1.0  NaN
2015-07-09 13:00:00  1.0  1.0  1.0  NaN
2015-07-09 14:00:00  2.0  2.0  2.0  2.0
2015-07-09 15:00:00  2.0  2.0  2.0  2.0
2015-07-09 16:00:00  2.0  2.0  2.0  2.0
2015-07-09 17:00:00  2.0  2.0  2.0  2.0

# Group by

In [284]:
# assign data
data = pd.DataFrame({'Section': ['A', 'A', 'A', 'B', 'B', 'B',
                                 'C', 'C', 'C'],
                     'Teacher': ['Kakeshi', 'Kakeshi', 'Iruka',
                                 'Kakeshi', 'Kakeshi', 'Kakeshi',
                                 'Iruka', 'Iruka', 'Guy']})

In [285]:
# display dataframe
print('Data:')
display(data)

Data:

  Section  Teacher
0       A  Kakeshi
1       A  Kakeshi
2       A    Iruka
3       B  Kakeshi
4       B  Kakeshi
5       B  Kakeshi
6       C    Iruka
7       C    Iruka
8       C      Guy

In [292]:
print('Occurrence counts of particular columns:')

# count occurrences a particular column
occur = data.groupby(['Section']).size()
 
# display occurrences of a particular column
display(occur)

Occurrence counts of particular columns:

Section
A    3
B    3
C    3
dtype: int64

In [293]:
occur

Section
A    3
B    3
C    3
dtype: int64

In [291]:
 
# count occurrences a particular column
occur = data.groupby(['Teacher']).size()
 
# display occurrences of a particular column
display(occur)

Teacher
Guy        1
Iruka      3
Kakeshi    5
dtype: int64

In [1]:
pais = ['gercy', 'acilene']
filhos = ['Leo', 'Nando', 'Vick']

In [2]:
familia = pais + filhos
familia

['gercy', 'acilene', 'Leo', 'Nando', 'Vick']

# Desempacotar lista

In [14]:
familia = ['gercy', 'acilene', 'Leo', 'Nando', 'Vick']
pai, mae, *filhos = familia
print('pai:', pai)
print('mae:',mae)
print('filhos:', filhos)

pai: gercy
mae: acilene
filhos: ['Leo', 'Nando', 'Vick']

In [3]:
pai, mae, *_ = familia
print(pai, mae)

gercy acilene

# Desempacotar Series

In [12]:
import pandas as pd

In [18]:
papeis = ['pai', 'mae', 'filhos1', 'filhos2', 'filhos3']
pessoas = ['gercy', 'acilene', 'Leo', 'Nando', 'Vick']

In [19]:
familia = [papeis, pessoas]
familia

[['pai', 'mae', 'filhos1', 'filhos2', 'filhos3'],
 ['gercy', 'acilene', 'Leo', 'Nando', 'Vick']]

In [26]:
dfFamilia = pd.DataFrame(familia)

In [33]:
dfFamilia=dfFamilia.transpose()

In [41]:
dfFamilia.set_index=0

In [44]:
spapeis = dfFamilia[0]

In [46]:
pai, mae, *filhos = spapeis
print(pai)

pai

# Variaveis de variaveis

In [20]:
a = [1,5,8,44,78,3,6,58,65]
a0 = []
a1 = []
a2 = []
a3 = []
a4 = []
a5 = []
a6 = []
a7 = []
a8 = []
a9 = []

In [16]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 5)
(2, 8)
(3, 44)
(4, 78)
(5, 3)
(6, 6)
(7, 58)
(8, 65)

In [17]:
indice = 1
for i,num in enumerate(a):
    variavel = 'a' + str(indice)
    vars()[variavel].append(num)
    indice = indice + 1
    if (indice>5):
        indice = 1

In [18]:
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

[1, 3]
[5, 6]
[8, 58]
[44, 65]
[78]

In [21]:
indice = 1
for i,num in enumerate(a):
    variavel = 'a' + str(i)
    vars()[variavel].append(num)

In [22]:
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

[1]
[5]
[8]
[44]
[78]

In [24]:
for x,num in enumerate(a):
    variavel = 'b' + str(x)
    vars()[variavel] = []
    vars()[variavel].append(num)

In [26]:
print(b0)
print(b1)
print(b2)
print(b3)
print(b4)
print(b5)

[1]
[5]
[8]
[44]
[78]
[3]