In [1]:
import pandas as pd

# Saber versão do Pandas

In [37]:
pd.__version__

'2.0.3'

# Criar DataFrame a partir de dicionário

In [2]:
dados = [
         {'Nome': 'Passat', 'Ano': 1990},
         {'Nome': 'Fusca', 'Ano': 1985},
         {'Nome': 'HB20', 'Marca': 'Hyunday'}
]

In [3]:
df_dados = pd.DataFrame(dados)
df_dados

     Nome     Ano    Marca
0  Passat  1990.0      NaN
1   Fusca  1985.0      NaN
2    HB20     NaN  Hyunday

In [4]:
dados2 = {
    'Nome': ['Fiat', 'Corsa', 'Mercedes'],
    'Ano': [1990, 1985, 2013]
}

In [5]:
df_dados2 = pd.DataFrame(dados2)
df_dados2

       Nome   Ano
0      Fiat  1990
1     Corsa  1985
2  Mercedes  2013

# Inserir linha no DataFrame

Quando insiro um dicionário é obrigatório ignorar o indice, com ignore_index = True

In [35]:
#df_dados.append({'Nome': 'Ford', 'Ano': 2020}, ignore_index = True) #Não precisa todos os campos para append funcionar. 
#append foi descontinuado na versão do pandas 2.0, com proposta de substituição pelo concat
pd.__version__

'2.0.3'

In [7]:
df_dados

     Nome     Ano    Marca
0  Passat  1990.0      NaN
1   Fusca  1985.0      NaN
2    HB20     NaN  Hyunday

In [11]:
df_dados = df_dados.append({'Nome': 'Ford', 'Ano': 2020}, ignore_index = True)
df_dados

AttributeError: 'DataFrame' object has no attribute 'append'

In [12]:
dfCotacoes=pd.DataFrame(columns=['Ativo', 'Data', 'Preço'])
dfCotacoes

Empty DataFrame
Columns: [Ativo, Data, Preço]
Index: []

In [13]:
dfCotacoes.append({'Ativo': 'ITUB4',  'Preço': 29}, ignore_index = True)

AttributeError: 'DataFrame' object has no attribute 'append'

# Incluir coluna

In [14]:
df_dados['Km rodados'] = [100000, 130000,10000, 10000]
df_dados

ValueError: Length of values (4) does not match length of index (3)

# Alterar um registro

In [15]:
df_dados.loc[df_dados.Nome == 'HB20', 'Ano'] = 2018
df_dados

     Nome     Ano    Marca
0  Passat  1990.0      NaN
1   Fusca  1985.0      NaN
2    HB20  2018.0  Hyunday

Alterar um registro iterando sobre o df

# Exportar para Excel

In [16]:
df_dados.to_excel('df_dados.xlsx')

<ipython-input-16-443699dd266b>:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df_dados.to_excel('df_dados.xlsx')

In [17]:
df_dados2.to_csv('df_dados2')

# Replicar função procv

In [18]:
df_precos = pd.DataFrame({
    'Nome':['Fusca', 'Ford', 'Passat', 'Fiat'],
    'Preco':[4000, 10000, 5000, 8000],
    'Ano':[1990,1990,1990,1990]
})
df_precos

     Nome  Preco   Ano
0   Fusca   4000  1990
1    Ford  10000  1990
2  Passat   5000  1990
3    Fiat   8000  1990

In [19]:
df_dados

     Nome     Ano    Marca
0  Passat  1990.0      NaN
1   Fusca  1985.0      NaN
2    HB20  2018.0  Hyunday

# Merge

In [20]:
#A coluna 'Ano' existe nas duas df, mas não é critério de filtro. Portanto, o nome fica sucedido de '_x' e _y para diferenciar
df_dados_left = pd.merge(df_dados, df_precos, on='Nome', how='left')
df_dados_left

     Nome   Ano_x    Marca   Preco   Ano_y
0  Passat  1990.0      NaN  5000.0  1990.0
1   Fusca  1985.0      NaN  4000.0  1990.0
2    HB20  2018.0  Hyunday     NaN     NaN

In [21]:
# Neste caso eu não trouxe a coluna repetida para manter somente do primeiro df e manter o nome
df_dados_right = pd.merge(df_dados, df_precos[['Nome','Preco']], on='Nome', how='right')
df_dados_right

     Nome     Ano Marca  Preco
0   Fusca  1985.0   NaN   4000
1    Ford     NaN   NaN  10000
2  Passat  1990.0   NaN   5000
3    Fiat     NaN   NaN   8000

In [22]:
df_dados_inner = pd.merge(df_dados, df_precos, on='Nome', how='inner')
df_dados_inner

     Nome   Ano_x Marca  Preco  Ano_y
0  Passat  1990.0   NaN   5000   1990
1   Fusca  1985.0   NaN   4000   1990

In [23]:
# Colocando duas colunas como lista no campo 'on' as duas serão usadas como critério.
pd.merge(df_dados, df_precos,on=['Nome','Ano'],how='inner')

     Nome     Ano Marca  Preco
0  Passat  1990.0   NaN   5000

É possível não trazer todas as colunas (...pd.merge(df_dados[['Nome']],..).

Deve-se usar left_on e right_on quando os nomes das colunas não coincidem

In [24]:
df_dados_outer = pd.merge(df_dados[['Nome']], df_precos, left_on='Nome', right_on='Nome', how='outer')
df_dados_outer

     Nome    Preco     Ano
0  Passat   5000.0  1990.0
1   Fusca   4000.0  1990.0
2    HB20      NaN     NaN
3    Ford  10000.0  1990.0
4    Fiat   8000.0  1990.0

# CONCAT

In [49]:
>>> df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [48]:
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [50]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [25]:
df_precos

     Nome  Preco   Ano
0   Fusca   4000  1990
1    Ford  10000  1990
2  Passat   5000  1990
3    Fiat   8000  1990

In [26]:
df_dados

     Nome     Ano    Marca
0  Passat  1990.0      NaN
1   Fusca  1985.0      NaN
2    HB20  2018.0  Hyunday

In [52]:
df1 =df_dados[['Nome','Ano']]
df1

     Nome     Ano
0  Passat  1990.0
1   Fusca  1985.0
2    HB20  2018.0

In [53]:
df2 = df_precos[['Nome','Ano']]
df2

     Nome   Ano
0   Fusca  1990
1    Ford  1990
2  Passat  1990
3    Fiat  1990

In [54]:
pd.concat(df1,df2)

TypeError: concat() takes 1 positional argument but 2 were given

In [51]:
pd.concat(df_dados[['Nome','Ano']], df_precos[['Nome','Ano']])

TypeError: concat() takes 1 positional argument but 2 were given

# Importar e organizar planilha em DataFrame

skiprows: pula primeiras linhas. O nome da coluna vai ser sempre a primeira linha
index_col: define a coluna índice

In [28]:
df_historico = pd.read_excel('myProfit - Relatório Histórico de investimentos - 012015-072023.xlsx', skiprows=4,  index_col=2)
df_historico

,Data de negociação,Instituição,Documento,Moeda,Total de Taxas,Ativo,Grupo,Quantidade,Operação,Tipo,Preço sem taxas,Preço com taxas,Total sem taxas,Total com taxas,Obs
Número,,,,,,,,,,,,,,,
23903594,2020-12-14,Clear,Nota de corretagem,BRL,2.61,ITUBA303,Opções,-1000.0,Crédito,Venda,1.95,1.9474,1950.0,1947.39,Normal
23903594,2020-12-14,Clear,Nota de corretagem,BRL,1.23,ITUBA323,Opções,1000.0,Débito,Compra,0.92,0.9212,-920.0,-921.23,Normal
23903594,2020-12-14,Clear,Nota de corretagem,BRL,3.95,ITUBL263,Opções,1000.0,Débito,Compra,2.95,2.9539,-2950.0,-2953.95,Normal
23903594,2020-12-14,Clear,Nota de corretagem,BRL,1.61,ITUBL306,Opções,-1000.0,Crédito,Venda,1.20,1.1984,1200.0,1198.39,Normal
23903594,2020-12-14,Clear,Nota de corretagem,BRL,0.70,ITUBM293,Opções,1000.0,Débito,Compra,0.52,0.5207,-520.0,-520.70,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694389,2023-06-16,Clear,Nota de corretagem,BRL,1.71,ITUB4,Ações,-200.0,Crédito,Venda,28.58,28.5714,5716.0,5714.29,Normal
4694389,2023-06-16,Clear,Nota de corretagem,BRL,1.05,SLCE3,Ações,100.0,Débito,Compra,35.01,35.0205,-3501.0,-3502.05,Normal
7754212,2022-08-09,Clear,Nota de corretagem,BRL,1.17,BBAS3,Ações,-100.0,Crédito,Venda,39.40,39.3883,3940.0,3938.83,Normal
68804129,2023-06-15,XP,Nota de corretagem,BRL,2.67,SAPR3,Ações,-300.0,Crédito,Venda,4.15,4.1411,1245.0,1242.33,Normal
68804129,2023-06-15,XP,Nota de corretagem,BRL,10.50,BBAS3,Ações,-100.0,Crédito,Venda,48.90,48.7950,4890.0,4879.50,Normal

# Filtrar

In [29]:
df_historico.Grupo == 'ETF' # Atribui verdadeiro ou falso a cada registro

Número
23903594    False
23903594    False
23903594    False
23903594    False
23903594    False
            ...
4694389     False
4694389     False
7754212     False
68804129    False
68804129    False
Name: Grupo, Length: 1427, dtype: bool

In [30]:
df_historico[df_historico.Grupo == 'ETF'] # Exibe apenas os registros True

,Data de negociação,Instituição,Documento,Moeda,Total de Taxas,Ativo,Grupo,Quantidade,Operação,Tipo,Preço sem taxas,Preço com taxas,Total sem taxas,Total com taxas,Obs
Número,,,,,,,,,,,,,,,
4518957,2019-08-19,Clear,Nota de corretagem,BRL,1.51,BOVA11,ETF,50.0,Débito,Compra,96.64,96.6702,-4832.0,-4833.51,Normal
5963559,2019-10-02,Clear,Nota de corretagem,BRL,1.54,BOVA11,ETF,-50.0,Crédito,Venda,97.60,97.5692,4880.0,4878.46,Normal
780221,2017-10-04,Rico,Nota de corretagem,BRL,22.14,IVVB11,ETF,-100.0,Crédito,Venda,83.06,82.8386,8306.0,8283.86,Normal
747903,2017-09-22,Rico,Nota de corretagem,BRL,20.59,IVVB11,ETF,100.0,Débito,Compra,82.11,82.3159,-8211.0,-8231.59,Normal

### Filtrar com 2 critérios

In [31]:
set(df_historico['Grupo'])

{'Ações',
 'BDR',
 'Criptomoeda',
 'ETF',
 'ETF USA',
 'Fundo Imobiliário',
 'Opções',
 'Opções EUA',
 'Tesouro Direto'}

In [32]:
df_historico[df_historico.Grupo.isin(['BDR','ETF'])]

,Data de negociação,Instituição,Documento,Moeda,Total de Taxas,Ativo,Grupo,Quantidade,Operação,Tipo,Preço sem taxas,Preço com taxas,Total sem taxas,Total com taxas,Obs
Número,,,,,,,,,,,,,,,
4518957,2019-08-19,Clear,Nota de corretagem,BRL,1.51,BOVA11,ETF,50.00000,Débito,Compra,96.6400,96.6702,-4832.00,-4833.51,Normal
5963559,2019-10-02,Clear,Nota de corretagem,BRL,1.54,BOVA11,ETF,-50.00000,Crédito,Venda,97.6000,97.5692,4880.00,4878.46,Normal
780221,2017-10-04,Rico,Nota de corretagem,BRL,22.14,IVVB11,ETF,-100.00000,Crédito,Venda,83.0600,82.8386,8306.00,8283.86,Normal
747903,2017-09-22,Rico,Nota de corretagem,BRL,20.59,IVVB11,ETF,100.00000,Débito,Compra,82.1100,82.3159,-8211.00,-8231.59,Normal
16490__Sobras_XPBR31_1929,2021-12-10,(Automático),Venda,BRL,0.00,XPBR31,BDR,-0.47028,Crédito,Venda,166.3663,166.3663,78.24,78.24,Normal

In [33]:
df_historico.query('Grupo == "ETF" & Operação == "Crédito"')

,Data de negociação,Instituição,Documento,Moeda,Total de Taxas,Ativo,Grupo,Quantidade,Operação,Tipo,Preço sem taxas,Preço com taxas,Total sem taxas,Total com taxas,Obs
Número,,,,,,,,,,,,,,,
5963559,2019-10-02,Clear,Nota de corretagem,BRL,1.54,BOVA11,ETF,-50.0,Crédito,Venda,97.60,97.5692,4880.0,4878.46,Normal
780221,2017-10-04,Rico,Nota de corretagem,BRL,22.14,IVVB11,ETF,-100.0,Crédito,Venda,83.06,82.8386,8306.0,8283.86,Normal

In [34]:
df_historico[(df_historico.Grupo == 'BDR')|(df_historico.Grupo == 'ETF')]

,Data de negociação,Instituição,Documento,Moeda,Total de Taxas,Ativo,Grupo,Quantidade,Operação,Tipo,Preço sem taxas,Preço com taxas,Total sem taxas,Total com taxas,Obs
Número,,,,,,,,,,,,,,,
4518957,2019-08-19,Clear,Nota de corretagem,BRL,1.51,BOVA11,ETF,50.00000,Débito,Compra,96.6400,96.6702,-4832.00,-4833.51,Normal
5963559,2019-10-02,Clear,Nota de corretagem,BRL,1.54,BOVA11,ETF,-50.00000,Crédito,Venda,97.6000,97.5692,4880.00,4878.46,Normal
780221,2017-10-04,Rico,Nota de corretagem,BRL,22.14,IVVB11,ETF,-100.00000,Crédito,Venda,83.0600,82.8386,8306.00,8283.86,Normal
747903,2017-09-22,Rico,Nota de corretagem,BRL,20.59,IVVB11,ETF,100.00000,Débito,Compra,82.1100,82.3159,-8211.00,-8231.59,Normal
16490__Sobras_XPBR31_1929,2021-12-10,(Automático),Venda,BRL,0.00,XPBR31,BDR,-0.47028,Crédito,Venda,166.3663,166.3663,78.24,78.24,Normal

In [ ]:
df_historico[(df_historico.Grupo == 'ETF')&(df_historico['Operação'] == 'Crédito')]

In [ ]:
# Ao usar vários filtros é importante atentar para os parenteses
df_historico[((df_historico.Grupo == 'BDR')|(df_historico.Grupo == 'ETF'))&(df_historico['Operação'] == 'Crédito')]

In [ ]:
# Ao usar vários filtros é importante atentar para os parenteses
df_historico[(df_historico.Grupo == 'ETF')&(df_historico['Operação'] == 'Crédito')|(df_historico.Grupo == 'BDR')]

In [ ]:
df_historico.head(1)

In [ ]:
df_historico.last

# Contase, somase, mediase

Conta a quantidade de Ativos por grupo

In [ ]:
df_historico.groupby('Grupo')['Ativo'].count()

Soma as quantidades agrupadas por ativo

In [ ]:
df_historico.groupby('Ativo')['Quantidade'].sum()

Calcula a média de preços por ativo

In [ ]:
df_historico.groupby('Ativo')['Preço sem taxas'].mean()

Atribuir mais de um critério para somar: Conta quantidade de ativos por grupo por ano

# Classificar

In [ ]:
df_historico.sort_values('Data de negociação', ascending=False, inplace=True)
df_historico

# Criar uma coluna de acumulado

In [ ]:
df_itub4 = df_historico[df_historico['Ativo'] == 'ITUB4'][['Data de negociação','Quantidade']]
df_itub4

In [ ]:
type(df_itub4.iloc[0, 0])

In [ ]:
df_itub4.sort_values('Data de negociação', ascending=True, inplace=True)
df_itub4.head(5)

In [ ]:
df_itub4['Acumulado'] = df_itub4['Quantidade'].cumsum()

In [ ]:
df_itub4

# Registros distintos

In [ ]:
df_historico['Grupo'].unique()

In [ ]:
df_dados1 = df_dados.copy()
df_dados1

fillna: #Substitui os campos Nan pelo valor especificado.

value: Valor a ser substituido

method: maneira de propagação
'backfill', 'bfill': repete o anterior
'pad', 'ffill': repete o posterior

axis: eixo onde irá buscar os valores nulos

inplace: modifica o objeto, não apenas visualiza

limit: Quantidade de nulos consecutivos para forward/backward fill.

downcast:

In [ ]:
df_dados1.fillna('Não informado', inplace=False)

In [ ]:
df_dados1.fillna(method='ffill')

In [ ]:
df_dados1.fillna(method='bfill',limit=1) #substitui 1 (limit) registro nulo pelo anterior

In [ ]:
df_dados1['Marca'].fillna(axis=0,value={0:'Chevrolet', 1:'volkswagen',3:'Ford'}, inplace=True)
df_dados1

dropna subset, na_position

thresh: quantidade de itens não nulos que mantém a linha ou coluna

axis: define se irá apagar as linhas (0 ou rows) ou colunas (1, ou columns)

subset: define quais colunas ou quais linhas será verificado valores nulos

In [ ]:
df_dados1 = df_dados.copy()
df_dados1

In [ ]:
df_dados1.dropna()

In [ ]:
df_dados1.dropna(axis=0, subset=['Ano','Marca'])

interpolate

Completa valores nulos calculando a partir do metodo aplicado aos demais valores da serie

'nearest', 'zero', 'slinear', 'quadratic', 'cubic', 'spline', 'barycentric', 'polynomial'

In [ ]:
df_dados_outer

In [ ]:
df_dados_outer.interpolate()

In [ ]:
df_dados_outer.interpolate(method='nearest')

In [ ]:
df_dados_outer.interpolate(method='polynomial', order=2)

replace

In [ ]:
df_dados.replace(to_replace='Ford',value='Ford Focus', inplace=True)
df_dados

## Append um DataFrame

In [ ]:
df_dados2 = df_dados.append(df_dados.loc[1])
df_dados2

In [ ]:
df_dados

In [ ]:
df_dados2

In [ ]:
df_dados2.append(df_dados)

In [ ]:
df_dados3 = pd.DataFrame(columns=['Nome','Ano','Marca'])
df_dados3

In [ ]:
df_dados3.append(df_dados2)

### Adicionar com colunas diferentes

In [ ]:
df_dados

In [ ]:
df_dados4 = df_dados.copy()
df_dados4.columns = [['Nome1', 'Ano1', 'Marca1', 'Km rodados1']]

In [ ]:
df_dados4

In [ ]:
df_dados4.columns=['Nome', 'Ano', 'Marca', 'Km rodados']
df_dados.append(df_dados4)

In [ ]:
df_dados.append(df_dados4)

drop, drop_duplicates

In [ ]:
df_dados2.drop_duplicates()

filter

In [ ]:
df_dados2.filter(items=["Nome","Ano"])

In [ ]:
df_dados2[["Nome","Ano"]]

In [ ]:
df_dados2.filter(items=["Nome"])

In [ ]:
df_dados2.filter(like="N")

In [ ]:
df_dados2.filter(regex="o.", axis=1)

sort_index

In [ ]:
df_dados2.sort_index(ascending=False, inplace=False, axis=0)

sort_values

In [ ]:
df_dados2.sort_values(by=['Marca','Ano'],na_position='first')

index

In [ ]:
df_dados2.index=df_dados2["Nome"]
df_dados2

regex

In [ ]:
df_dados2.filter(regex='^[PH].*', axis=0)

lambda

In [ ]:
x = 2
somar_um = lambda x: x+1
print(somar_um(x))

In [ ]:
dividir_dois = lambda x: x/2
print(somar_um(dividir_dois(x)))

apply

In [ ]:
def metade(valor):
    return valor/2
metade(10)

In [ ]:
df_dados2['Km rodados'].apply(metade)

In [ ]:
df_dados2['Meia vida']=df_dados2['Km rodados'].apply(metade)
df_dados2

apply x map

In [ ]:
def media(ano, km):
    return km/(2023-ano)

In [ ]:
df_dados2.loc['Passat','Ano']

In [ ]:
df_dados2.loc['Passat','Media'] = 50000
df_dados2

## Para iterar registros do DataFrame usando células do DataFrame só consegui até agora usando index ou chamando cada coluna
#### Não consegui ir alterando dentro do item (nome) sem chamar o dataframe pai

In [ ]:
for nome in df_dados2['Nome']:
    df_dados2.loc[nome,'Media'] = media(df_dados2.loc[nome,'Ano'],df_dados2.loc[nome,'Km rodados'])
df_dados2

In [ ]:
for nome in df_dados2.index:
    df_dados2.loc[nome,'Media'] = media(df_dados2.loc[nome,'Ano'],df_dados2.loc[nome,'Km rodados'])
df_dados2

# Não consegui fazer apply com função de 2 argumentos

In [ ]:
#df_dados2['Ano','Km rodados'].apply(media, axis=0)

In [ ]:
# creating a DataFrame
df = pd.DataFrame({'String 1' :['Tom', 'Nick', 'Krish', 'Jack'], 
                   'String 2' :['Jane', 'John', 'Doe', 'Mohan']})
df

In [ ]:
# function for prepending 'Geek'
def prepend_geek(name1, name2):
    return name1+' ' + name2

In [ ]:
# executing the function
#df[["String 1", "String 2"]] = df[["String 1", "String 2"]].apply(prepend_geek)
#df

# Map

In [ ]:
pd.Series(map(metade, df_dados2['Km rodados']))

In [ ]:
list(map(lambda x: x/2, df_dados2['Km rodados']))

In [ ]:
df_dados2['Meia vida']=map(lambda x: x/2, df_dados2['Km rodados'])
df_dados2

In [10]:
#Usando list com map funciona
df_dados2['Meia vida']=list(map(lambda x: x/2, df_dados2['Km rodados']))
df_dados2

KeyError: 'Km rodados'

In [ ]:
#Usando Series com map não funciona
df_dados2['Meia vida']=pd.Series(map(lambda x: x/2, df_dados2['Km rodados']) )
df_dados2

In [ ]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

In [ ]:
df.apply(lambda x: [1, 2], axis=0)

In [ ]:
df.apply(lambda x: [1, 2], axis=1)

In [ ]:
df['C'] = df.apply( lambda x: [1,2], axis=1)
df

In [ ]:
df.apply(lambda x: [1,2], axis=1, result_type='expand')

In [ ]:
df[['D','E']]=df.apply(lambda x: [1,2], axis=1, result_type='expand')
df

In [ ]:
type(df.apply(lambda x:[1,2], axis=1, result_type='expand'))

In [ ]:
type(df.apply(lambda x: [1,2], axis=1))

In [ ]:
pd.Series([3,4], index=['E','F'])

In [ ]:
df.apply(lambda x: pd.Series([3,4], index=['F','G']), axis=1)

In [ ]:
df[['F','G']]=df.apply(lambda x: pd.Series([3,4], index=['F','G']), axis=1)
df

list comprehension x, y for x in ...

In [ ]:
df2 = [1,2,3,4,5]
df2

In [ ]:
x = []
for a in df2:
    if a > 3:
        x.append(a*2)
print(x)

In [ ]:
x = [a*2 for a in df2 if a > 3]
x

concat

# Agregate agg

In [ ]:
import pandas as pd
df = pd.DataFrame({'foo':['a','b','c'], 'bar':[1, 2, 3]})

df['baz'] = df.agg('{0[bar]} is {0[foo]}'.format, axis=1)
df

append series, dicionarios, listas

adicionar linha usando loc ou iloc

labels e axis x index e columns

negação ~, or | , xor

para o df todo preciso usar o copy ao invés do =. Para a coluna tem diferença?

del df todo ou apenas coluna, linha, selecao

reset_index

Trocar nome coluna

rename

unique

value_counts

min, max, mean, sum

describe

corr() correlacao

quando aceita ter 2 índices (ex linhas) e qndo não aceita?

Quando aceita ter valores duplicados nos índices

groupby groups

to_frame

multiIndex

# Numpy

Array

Dtype