In [1]:
import yfinance as yf
import pandas as pd

In [7]:
itub4 = yf.Ticker('ITUB4.SA')

In [9]:
itub4.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-26,28.612219,28.922028,28.412344,28.612219,13589700,0.00000,0
2023-06-27,28.762127,28.812095,27.962623,28.292418,26027100,0.00000,0
2023-06-28,28.282425,28.352383,27.982612,28.132519,18710300,0.00000,0
2023-06-29,28.212468,28.532269,28.192480,28.472307,61907700,0.00000,0
2023-06-30,28.752134,28.902041,28.332395,28.402351,27856400,0.00000,0
2023-07-03,28.540001,29.010000,28.360001,28.959999,17644300,0.01765,0
2023-07-04,28.870001,29.020000,28.730000,28.780001,8159900,0.00000,0
2023-07-05,28.719999,29.200001,28.660000,29.030001,17651100,0.00000,0
2023-07-06,28.830000,28.910000,28.600000,28.600000,28309400,0.00000,0
2023-07-07,28.770000,29.459999,28.650000,29.139999,27781200,0.00000,0
2023-07-10,29.370001,29.370001,28.850000,28.950001,13239400,0.00000,0
2023-07-11,28.809999,28.860001,28.100000,28.440001,28049700,0.00000,0
2023-07-12,28.500000,28.650000,28.200001,28.270000,18432600,0.00000,0
2023-07-13,28.219999,28.790001,28.160000,28.580000,21869200,0.00000,0
2023-07-14,28.650000,28.790001,28.160000,28.280001,24637900,0.00000,0
2023-07-17,28.230000,28.830000,28.160000,28.830000,15935400,0.00000,0
2023-07-18,28.830000,28.940001,28.170000,28.270000,39090200,0.00000,0
2023-07-19,28.270000,28.410000,27.889999,27.969999,39310700,0.00000,0
2023-07-20,28.110001,28.490000,27.700001,28.490000,37782800,0.00000,0
2023-07-21,0.000000,29.000000,29.000000,29.000000,0,0.00000,0

In [3]:
ativos = ['ITUB4.SA', 'BBAS3.SA', 'GRND3.SA', 'KLBN3.SA']
ativos

['ITUB4.SA', 'BBAS3.SA', 'GRND3.SA', 'KLBN3.SA']

In [15]:
ativo = 'ITUB4.SA'
preco = yf.Ticker(ativo).history(period='5d', interval="5d")['Close']
print(preco.index[-1], preco[-1])

2023-07-21 00:00:00 29.0

In [16]:
preco

Date
2023-07-18    28.27
2023-07-21    29.00
Name: Close, dtype: float64

In [93]:
pd.to_datetime(preco.index[-1], 'dd/mm/yyyy')

Timestamp('2023-07-21 00:00:00')

In [17]:
cotacoes=pd.DataFrame(columns=['Ativo', 'Data', 'Preço'])
for ativo in ativos:
    dado = yf.Ticker(ativo).history(period='5d', interval="5d")['Close']
    cotacoes= cotacoes.append({'Ativo': ativo, 'Data': dado.index[-1], 'Preço': dado[-1]}, ignore_index=True)
cotacoes

      Ativo       Data  Preço
0  ITUB4.SA 2023-07-21  29.00
1  BBAS3.SA 2023-07-21  48.52
2  GRND3.SA 2023-07-21   7.57
3  KLBN3.SA 2023-07-24   4.22

In [21]:
def listarCotacoes(ativos):
    cotacoes=pd.DataFrame(columns=['Ativo', 'Data', 'Preço'])
    for ativo in ativos:
        dado = yf.Ticker(ativo).history(period='5d', interval="1d")['Close']
        cotacoes= cotacoes.append({'Ativo': ativo, 'Data': dado.index[-1], 'Preço': dado[-1]}, ignore_index=True)
    return cotacoes

In [22]:
listarCotacoes(ativos)

      Ativo       Data  Preço
0  ITUB4.SA 2023-07-21  29.00
1  BBAS3.SA 2023-07-21  48.52
2  GRND3.SA 2023-07-24   7.55
3  KLBN3.SA 2023-07-24   4.21

In [102]:
ativos

['ITUB4.SA', 'BBAS3.SA', 'GRND3.SA', 'KLBN3.SA']

In [47]:
yf.Ticker(ativo).history(period='1d', interval="1d")['Close']

Date
2023-07-21    4.24
Name: Close, dtype: float64

In [48]:
cotacoes['Ativo'] = ativo

In [49]:
cotacoes

               Ativo  Preço
Date
2023-07-21  KLBN3.SA   4.24

In [25]:
pip install numpy --upgrade

Requirement already satisfied: numpy in c:\users\leonardo\anaconda3\lib\site-packages (1.24.4)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [24]:
import numpy as np
print(np.__version__)

1.20.1